.register--container {
	margin: 3.2rem;
	background: rgba(10, 10, 10, 0.7);
}

.register--container form.form {
	padding: 3.2rem;
	border-radius: 0.3rem;
	color: #fff;
}

.register--container form.form label {
	color: #fff !important;
	font-size: 1.2rem !important;
}

.register--container h2 {
	text-align: center;
}
